
@use "base/reset";

@use "base/tipografias";

@use "loyout/footer";

@use "loyout/header";

@use "loyout/main";

@use "loyout/mediaqueries";

@use "components/form-contacto";

@use "./base/animaciones"

