/* colores */

$bg-body: rgb(173, 157, 157);

$bg-nav:rgb(46, 0, 0);

$bg-footer:rgb(48, 39, 39);

$bg-text:rgb(0, 0, 0);


/* Fuentes de texto */


$font-title: fa ;

$font-subtitle: Impact;

$font-text:"Franklin Gothic Medium";