@use "../utilities/variables" as *;

/*footer*/
footer{

    h3{
        text-align: center;
        font-family: fantasy;
    }
  
    p{
    text-align: center;
   }

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:$bg-footer ;
    color: aliceblue;
    border-radius: 20px;
    padding: 40px;

    img{
        width: 200px;
        border-radius: 20px;


    }
    
}
.redes{

    display: flex;
    justify-content: center;
    gap: 40px
    ;
}







