
@use "../utilities/variables" as *;
 
@use"../base/animaciones";

/*  main */



/* Main-Sobrenos */

.main-sobrenos{
    
h2,h3{
    font-family:fantasy;
    text-align: center;
}

.sobrenos{

    background-color: $bg-nav;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 40px;

    p{
        color: white;
    }

    img{
        width: 500px;
        border-radius: 40px;

    }
}


   .ubicacion{

    background-color: $bg-nav;
    padding: 60px;
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

    .ubicacion iframe{
        width: 100%;
        max-width: 600px;
        height: 400px;
        border-radius: 20px;
        
    }

}


/*productos*/
h1{
      text-align: center;
        font-family:fantasy;
        border-color: black;
}
.titulos{

        text-align: center;
        font-family:fantasy;

}
.contenedor{
    background-color:$bg-nav ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    margin: 40px;
    border-radius: 50px;   
    h2{
        color: rgb(231, 229, 229);  
        border-color: black;
        font-family:fantasy;
    }
}
.imagen_card{

border-radius: 30px;
    width: 400px;
    

}

.img-productos {

    color: aliceblue;
    text-align: center;
   
    a{
        display: inline-block;
        margin-top: 10px;
        padding: 8px 20px;
        background-color:slategrey ;
        color:$bg-text;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 0.3s;
        

    }

}
/*  Main Promociones */

.promos-prod{

   h2{ 
    color: rgb(231, 229, 229);
    font-family: fantasy; 
     border-color: black;   
} 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 

    
    
    
    
}
.imagen-promo{
    
    background-color:$bg-nav;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    color: white;
   
    a{
        display: inline-block;
        margin-top: 10px;
        padding: 8px 20px;
        background-color:slategrey ;
        color:$bg-text;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 0.3s;

    }
    
}

.imagen-promo img {
    border-radius: 20px;
    width: 300px;
    height: auto;
}

/* Main Contactos */

.main-contacto{

    h1,h2{

        text-align: center;
        font-family: fantasy;

    }
}




.color-form{

    background-color: $bg-nav;
    color: beige;
    border-radius: 20px;
    padding: 60px;
    margin: 10px;

}

.btnbtn-primary{

    background-color:slategrey;
    padding: 20px;
    border-radius: 20px;

}